<%-include("./partials/header")-%>
  <body class="bg-teal-400 h-screen flex justify-center items-center">
    <main class=" flex items-center flex-col">
      <img class="h-32 w-32 mb-3" src="./img/keylock.svg" alt="">
      <h1 class="text-white font-bold text-center text-4xl uppercase underline underline-offset-8 mb-8">share your secret being anonymous</h1>
      <section class="text-center ">
        <a class=" mx-4 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus-visible:ring ring-blue-300 text-white font-semibold text-center rounded-md outline-none transition duration-100 px-5 py-2" href="/login">Login</a>
        <a class=" bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus-visible:ring ring-blue-300 text-white font-semibold text-center rounded-md outline-none transition duration-100 px-5 py-2" href="/register">Register</a>
       
      </section>
    </main>

  </body>
</html>
